<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.johnnei.glsl.editor.GlslEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="glsl"
            icon="icons/sample.gif"
            id="org.johnnei.glsl.editor.GlslEditor"
            name="OpenGL Shader Editor">
      </editor>
   </extension>

</plugin>
