<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.johnnei.glsl.editor.GlslEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="glsl"
            icon="icons/sample.gif"
            id="org.johnnei.glsl.editor.GlslEditor"
            name="OpenGL Shader Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.johnnei.glsl.preferences.GlslEditorPreferencesPage"
            id="org.johnnei.glsl.preferences.GlslEditorPreferencesPage"
            name="GLSL Editor Preferences">
      </page>
      <page
            class="org.johnnei.glsleditor.preferences.SamplePreferencePage"
            id="org.johnnei.glsleditor.preferences.SamplePreferencePage"
            name="Sample Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.johnnei.glsl.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
